.interest__links {
   display: grid;
   grid-template-columns: 1fr 2fr 1fr 2fr 1fr 2fr 2fr 1fr .75fr;
   grid-template-rows: 1;
   padding: 20px 10%;
   column-gap: 40px;
   
   

}

.intrest_img {
   width: 100px;
     
    
}

.interests-bar__headline {
    font-weight: bold;
}


 




