.interest__links {
   display: grid;
   grid-template-columns: 1fr 2fr 1fr 2fr 1fr 2fr 2fr 1fr .75fr;
   grid-template-rows: 1;
   padding: 10px 0 ;
   border-top: 1px solid black;
   border-bottom: 1px solid black;
   gap: 10px;
  margin: 10px auto;
}


.interests-bar__image {
    width: 110px;
    
}
.text-box {
    font-size: 11px;
    border-right: 1px solid #e2e2e2;
    
    

}
.interests-bar__headline {
  font-weight: bold;
}
.interests-bar__stock-price {
  font-size: 14px;
  line-height: 35px;
  
}
.percent {
  position: relative;
  left: 50px;
  font-weight: 600;
  color: rgb(0, 201, 0);
}

.interests-bar__big-text {
  font-size: 25px;
  font-weight: 600;
  position: relative;

  top: 40px;
}


.sun {
  position: relative;
  right: 40%;
  width: 110px;
  border-left: 1px solid #e2e2e2;
  padding-left: 45px;
}





@media screen and (max-width: 999px) {
.interest__links {
  display: none;
  
} 

}