main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
  grid-gap: 20px;
  margin: auto;
  padding: 20px;
  
grid-template-areas: 
'title title  opinion '
'main  vid  ops '
'where cat  a5'

  

}

 .title {
  grid-area: title;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 10px;
  
  font-style: italic;
}

.author {

}
.main h2 {
  font-weight: 700;
  padding-bottom: 10px;
}
.main {
  display: block;
  position: relative;
  bottom: 130px;
  grid-area: main;
}

.main li {
  padding-bottom: 20px;
  list-style: disc;
}


.vid {
  position: relative;
  bottom: 156px;
  grid-area: vid;
}

.opinions {
  grid-area: opinion;
}

.ops {
  grid-area: ops;
}

.where {
  position: relative;
  bottom: 100px;
  grid-area: where;
  border-top: 1px solid #e6e6e6;
}

.cat {
  position: relative;
  bottom: 100px;
  grid-area: cat;
  border-top: 1px solid #e6e6e6;
}
.articles {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  position: relative;
  bottom: 100px;
  grid-area: a5;
}

p {
  padding-bottom: 20px;
  line-height: 16px;
}

.video {
  width: 400px;
  
}
.ops img {
  height: 114px;
  width: 600px;
}